/* styles here are for global styling that do not depend on theme */
@font-face {
  font-family: norse-kaWl;
  src: url("./norse-font/Norse-KaWl.otf") format("opentype");;
}

:root {
  font-size: 16px;
  --dark-main-bg-color: #484848;
}

body {
  font-family: 'Open Sans', sans-serif;
}