/* styles here are for global styling that do not depend on theme */
@font-face {
  font-family: norse-kaWl;
  src: url("./assets/norse-font/Norse-KaWl.otf") format("opentype");;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  --dark-bg-color: #484848;
  --dark-main-bg-color: rgb(60, 60, 60);
  --dark-text-color: white;
  --dark-text-error-color: red;
  --dark-board-color: #966F33;
  --dark-attacker-color: black;
  --dark-defender-color: white;
  --dark-king-color: gold;
  --main-max-width: 1052px;
  --main-min-width: 300px;
}